#intro {
  overflow: hidden;
  background-image: url('../../assets/gfx-c/homepage/mountain.jpg');
  background-position: center;
  background-size: cover;

  .full-height {
    background-color: $overlay;
    color: $white;

    .col-md-6:first-of-type {
      position: relative;
      width: 400px;
      padding-right: 20px;
      animation: slide-right 1s;

      a {
        width: 100%;
        margin-bottom: 10px;
      }

      a:last-of-type {
        margin-bottom: 0px;
      }
    }

    .col-md-6:last-of-type {
      position: relative;
      width: calc(100% - 400px);
      padding-left: 20px;
      animation: slide-left 1s;

      h1 {
        margin-bottom: 50px;
        text-shadow: $dark-shadow;
        font-size: 3em;
      }

      ul {
        li {
          position: relative;
          margin-bottom: 30px;
          list-style-type: none;
          font-family: $heading-font-1;
          font-size: 1.25em;
          color: $dark-blue;
          animation: slide-left;

          i {
            margin-right: 10px;
          }
        }

        @for $i from 1 through 10 {
          li:nth-child(#{$i}) {
            animation-duration: #{$i / 2}s
          }
        }
      }
    }
  }
}
