/node_modules
/app/frontend/libs
/app/frontend/tmp
/app/frontend/dist/
/app/frontend/dist/css/
/app/frontend/dist/js/
/app/frontend/assets/gfx-c
/app/frontend/js/**/*.js
/app/backend/**/*.js

server.js

!gulpfile.js

.DS_Store
