<div class="row" id="about">
  <div class="box-outer full-height">
    <div class="box-inner">

      <div class="row">
        <div class="wrap">
          <div class="col-md-12">

            <div class="content">
              <h2>About MEAN Build</h2>

              <h4>From zero to full-stack in minutes</h4>
              <p>
                Developing a full-stack application can be a daunting task. There are many elements that must come together
                in order for the final product to be successful. MEAN Build provides a level of automation that will allow
                you build a woking full-stack CRUD application in a matter of minutes.
              </p>

              <h4>Focus on cutting edge displays</h4>
              <p>
                Developing an awesome UI can become a very complex task. While there are many working parts of an application
                that must be in place for an application to function correctly, MEAN Builds has taken care of primary
                functionality of your application which allows you to focus on designing an amazing UI.
              </p>

              <h4>Increase your productivity</h4>
              <p>
                Developing a workflow that is efficient and flexible is often something that is overlooked by developers. MEAN
                Build provides a workflow that is simple and flexible. Incorportating a task runner such as Gulp, MEAN Build
                will allow you work faster with a streamlined workflow.
              </p>

              <h4>Reasons to love MEAN Build</h4>
              <ul>
                <li><i class="fa fa-check" aria-hidden="true"></i>Build a professional application in minutes</li>
                <li><i class="fa fa-check" aria-hidden="true"></i>Spend more time creating an awesome design</li>
                <li><i class="fa fa-check" aria-hidden="true"></i>Increase your productivity</li>
                <li><i class="fa fa-check" aria-hidden="true"></i>No boilerplate code</li>
                <li><i class="fa fa-check" aria-hidden="true"></i>Keep track of the projects you've created</li>
              </ul>

              <a ui-sref="register" class="custom-btn custom-btn-blue">Sign up</a>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
