<div class="row" id="documentation">
  <div class="box-outer full-height">
    <div class="box-inner">

      <div class="row">
        <div class="wrap">
          <div class="col-md-12">

            <div class="content">
              <div class="">
                <h2>Documentation</h2>

                <div class="">
                  <h3>The steps to running the App</h3>
                  <ul>
                    <li>Create a new folder on your computer</li>
                    <li>Create an account and login to MeanBuild</li>
                    <li>Download Build.zip,place it in your new folder, and unzip it</li>
                    <li>Open the command prompt and run the generator with "node build.js"</li>
                    <li>Answer all questions</li>
                  </ul>
                </div>
                <hr>

                <div class="">
                  <ul>
                    <h5>Open Your Text Editor then: </h5>
                    <li><pre>fn 6</pre>"That will do a javascript build"</li>
                  </ul>
                </div>
                <hr>

                <div class="">
                  <ul>
                    <h5>Now go back to Command Prompt and to the following</h5><br>
                    <li>Run this gulp task:<pre>gulp</pre> "Run it  2X"</li>
                  </ul>
                  <hr>
                </div>

                  <div class="">
                    <ul>
                      <h5>Run this task to start your local server</h5>
                      <li><pre>nodemon</pre> </li>
                    </ul>
                  </div>
                  <hr>

                <div class="">
                  <ul>
                    <h5>Now in your browser and go to:</h5>
                    <li><pre>localhost:3000</pre></li><br><br>
                    <li><h3>That's it you now have a running App</h3></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
